* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.choice-container:hover {
    cursor: pointer;
}

.choice-container {
    display: flex;
    margin-bottom: .5rem;
    width: 100%;
    border: .1rem solid;
    background-color: lightblue;
}

.choice-prefix {
    padding: .5rem 1rem;
    color: white;
}

.choice-text {
    padding: .5rem;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}